$color-stable-darker: #000;
$color-stable-light: #A4A4A4;
$color-stable-lighter: #E9E9E9;
$color-stable-white: #fff;

$color-balanced-darker: #5A4F89;
$color-balanced-dark: #7E72B1;
$color-balanced-medium: #9E88FD;
$color-balanced-normal: #BAADEF;
$color-balanced-light: #D7CFFC;
$color-balanced-white: #EFEBFF;

$black: $color-stable-darker;
$white: $color-stable-white;