@import 'base/imports';

@import 'modules/lists/all';
@import 'modules/lists/carousel';
@import 'modules/cards/all';
@import 'modules/cards/carousel';

@import 'layouts/sidebar';

.main {
  display: flex;

  @media (min-width: $desktop) {
    align-items: center;
  }
}

.list-carousel {
  width: calc(100% - 64px);
  margin-left: auto;
  margin-right: auto;
  @include rem(margin-top, 156px);

  @media (min-width: $desktop) {
    max-width: calc(100% - 250px);
    @include rem(margin-left, 200px);
    margin-top: 0;
  }

  @media (min-width: $desktop-hd) {
    max-width: calc(100% - 350px);
    @include rem(margin-left, 320px);
  }
}