.overflow-hidden {
  overflow: hidden !important; }

.reset-button {
  -webkit-appearance: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  text-align: center;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent; }
  .reset-button:not(:disabled):not(.disabled) {
    cursor: pointer; }
  .reset-button .disabled,
  .reset-button [disabled] {
    pointer-events: none; }

.reset-input {
  -webkit-appearance: none;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  background-clip: padding-box;
  outline: 0;
  -webkit-tap-highlight-color: transparent; }
  .reset-input:disabled, .reset-input.disabled {
    cursor: default; }

.reset-list {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  color: inherit;
  -webkit-appearance: none;
  background-color: transparent;
  font: inherit;
  vertical-align: baseline;
  list-style-type: none; }
  .reset-list a {
    color: inherit;
    text-decoration: none; }
  .reset-list li {
    list-style-type: none; }

.fade-enter-active,
.fade-leave-active {
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s; }

.fade-enter,
.fade-leave-to {
  opacity: 0; }

.list-carousel {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content; }

.card-carousel {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (min-width: 1024px) {
    .card-carousel {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }
  .card-carousel__figure {
    position: relative;
    margin: 0;
    width: 100%;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    height: 240px;
    /* 9 */
    height: 24rem;
    /* 9 */
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    -webkit-border-radius: 4px;
            border-radius: 4px;
    /* 9 */
    -webkit-border-radius: 0.4rem;
            border-radius: 0.4rem;
    /* 9 */
    overflow: hidden;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-bottom: 16px;
    /* 9 */
    margin-bottom: 1.6rem;
    /* 9 */
    -webkit-transition: 0.4s all ease-in;
    -o-transition: 0.4s all ease-in;
    transition: 0.4s all ease-in; }
    .card-carousel__figure:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #9E88FD;
      mix-blend-mode: multiply; }
    @media (min-width: 768px) {
      .card-carousel__figure {
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        height: 320px;
        /* 9 */
        height: 32rem;
        /* 9 */
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        margin-bottom: 24px;
        /* 9 */
        margin-bottom: 2.4rem;
        /* 9 */ } }
    @media (min-width: 1024px) {
      .card-carousel__figure {
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        max-width: 720px;
        /* 9 */
        max-width: 72rem;
        /* 9 */
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        height: 400px;
        /* 9 */
        height: 40rem;
        /* 9 */
        /* 3 */
        /* 3 */
        /* 4 */
        /* 5 */
        /* 8 */
        margin-bottom: 0;
        /* 9 */
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        margin-right: 24px;
        /* 9 */
        margin-right: 2.4rem;
        /* 9 */ } }
    @media (min-width: 1440px) {
      .card-carousel__figure {
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        max-width: 880px;
        /* 9 */
        max-width: 88rem;
        /* 9 */
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        height: 480px;
        /* 9 */
        height: 48rem;
        /* 9 */ } }
    .card-carousel__figure img {
      display: block;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .card-carousel__content {
    width: 100%;
    -webkit-transition: 0.4s all ease-in;
    -o-transition: 0.4s all ease-in;
    transition: 0.4s all ease-in; }
    @media (min-width: 1024px) {
      .card-carousel__content {
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        min-width: 320px;
        /* 9 */
        min-width: 32rem;
        /* 9 */
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        max-width: 320px;
        /* 9 */
        max-width: 32rem;
        /* 9 */ } }
    @media (min-width: 1440px) {
      .card-carousel__content {
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        min-width: 480px;
        /* 9 */
        min-width: 48rem;
        /* 9 */
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        max-width: 480px;
        /* 9 */
        max-width: 48rem;
        /* 9 */ } }
  .card-carousel__title {
    margin: 0;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-bottom: 4px;
    /* 9 */
    margin-bottom: 0.4rem;
    /* 9 */
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    font-size: 24px;
    /* 9 */
    font-size: 2.4rem;
    /* 9 */
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    line-height: 32px;
    /* 9 */
    line-height: 3.2rem;
    /* 9 */
    font-weight: 400;
    -webkit-transition: 0.4s all ease-in;
    -o-transition: 0.4s all ease-in;
    transition: 0.4s all ease-in; }
    @media (min-width: 768px) {
      .card-carousel__title {
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        font-size: 32px;
        /* 9 */
        font-size: 3.2rem;
        /* 9 */
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        line-height: 40px;
        /* 9 */
        line-height: 4rem;
        /* 9 */ } }
    @media (min-width: 1440px) {
      .card-carousel__title {
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        font-size: 56px;
        /* 9 */
        font-size: 5.6rem;
        /* 9 */
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        line-height: 64px;
        /* 9 */
        line-height: 6.4rem;
        /* 9 */ } }
  .card-carousel__excerpt {
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    margin-bottom: 16px;
    /* 9 */
    margin-bottom: 1.6rem;
    /* 9 */
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    font-size: 16px;
    /* 9 */
    font-size: 1.6rem;
    /* 9 */
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    line-height: 24px;
    /* 9 */
    line-height: 2.4rem;
    /* 9 */
    font-weight: 200;
    color: #A4A4A4;
    -webkit-transition: 0.4s all ease-in;
    -o-transition: 0.4s all ease-in;
    transition: 0.4s all ease-in; }
    @media (min-width: 768px) {
      .card-carousel__excerpt {
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        margin-bottom: 20px;
        /* 9 */
        margin-bottom: 2rem;
        /* 9 */
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        font-size: 20px;
        /* 9 */
        font-size: 2rem;
        /* 9 */
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        line-height: 22px;
        /* 9 */
        line-height: 2.2rem;
        /* 9 */ } }
    @media (min-width: 1440px) {
      .card-carousel__excerpt {
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        margin-bottom: 24px;
        /* 9 */
        margin-bottom: 2.4rem;
        /* 9 */
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        font-size: 24px;
        /* 9 */
        font-size: 2.4rem;
        /* 9 */
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        line-height: 32px;
        /* 9 */
        line-height: 3.2rem;
        /* 9 */ } }
    .card-carousel__excerpt p {
      margin: 0; }

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-backface-visibility: hidden;
  pointer-events: none; }
  .sidebar-content {
    width: 100%;
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    height: 96px;
    /* 9 */
    height: 9.6rem;
    /* 9 */
    /* 3 */
    /* 3 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    /* 4 */
    /* 6 */
    /* 6 */
    /* 7 */
    padding: 32px 24px;
    /* 9 */
    padding: 3.2rem 2.4rem;
    /* 9 */
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-top: 1px solid #E9E9E9;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    background-color: #fff;
    pointer-events: all; }
    @media (min-width: 1024px) {
      .sidebar-content {
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        width: 96px;
        /* 9 */
        width: 9.6rem;
        /* 9 */
        height: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-left: auto;
        border-top: 0;
        border-left: 1px solid #E9E9E9; } }
    .sidebar-content__menu .button, .sidebar-content__cart .button, .sidebar-content__social .button {
      color: #A4A4A4; }
      .sidebar-content__menu .button:hover, .sidebar-content__cart .button:hover, .sidebar-content__social .button:hover {
        color: #9E88FD; }
      .sidebar-content__menu .button:active, .sidebar-content__cart .button:active, .sidebar-content__social .button:active {
        color: #5A4F89; }
    @media (min-width: 1024px) {
      .sidebar-content__menu {
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        margin-bottom: 32px;
        /* 9 */
        margin-bottom: 3.2rem;
        /* 9 */ } }
    .sidebar-content__menu .button {
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      font-size: 40px;
      /* 9 */
      font-size: 4rem;
      /* 9 */ }
    .sidebar-content__cart {
      position: relative;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1; }
      .sidebar-content__cart-number {
        position: absolute;
        top: 0;
        right: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        width: 24px;
        /* 9 */
        width: 2.4rem;
        /* 9 */
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        height: 24px;
        /* 9 */
        height: 2.4rem;
        /* 9 */
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        font-size: 12px;
        /* 9 */
        font-size: 1.2rem;
        /* 9 */
        -webkit-border-radius: 50%;
                border-radius: 50%;
        -webkit-box-shadow: 0 0 0 2px #fff;
                box-shadow: 0 0 0 2px #fff;
        background-color: #9E88FD;
        color: #fff; }
      .sidebar-content__cart .button {
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        font-size: 48px;
        /* 9 */
        font-size: 4.8rem;
        /* 9 */ }
    .sidebar-content__social {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      @media (min-width: 1024px) {
        .sidebar-content__social {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column; } }
      .sidebar-content__social-item {
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        font-size: 24px;
        /* 9 */
        font-size: 2.4rem;
        /* 9 */ }
        .sidebar-content__social-item:not(:last-child) {
          /* 3 */
          /* 3 */
          /* 4 */
          /* 6 */
          /* 6 */
          /* 7 */
          margin-right: 24px;
          /* 9 */
          margin-right: 2.4rem;
          /* 9 */ }
          @media (min-width: 1024px) {
            .sidebar-content__social-item:not(:last-child) {
              margin-right: 0;
              /* 3 */
              /* 3 */
              /* 4 */
              /* 6 */
              /* 6 */
              /* 7 */
              margin-bottom: 40px;
              /* 9 */
              margin-bottom: 4rem;
              /* 9 */ } }
  .sidebar-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none; }
    .sidebar-menu.is-open {
      pointer-events: all; }
      .sidebar-menu.is-open .sidebar-menu__content {
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0); }
      .sidebar-menu.is-open .sidebar-menu__blur,
      .sidebar-menu.is-open .sidebar-menu__close {
        opacity: 1; }
    .sidebar-menu__blur {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 10;
      width: 100%;
      height: 100%;
      background-color: rgba(36, 28, 71, 0.8);
      opacity: 0;
      -webkit-transition: .5s opacity ease;
      -o-transition: .5s opacity ease;
      transition: .5s opacity ease; }
    .sidebar-menu__close {
      position: absolute;
      left: 0;
      bottom: 0;
      -webkit-transform: translate(-56px, -24px);
          -ms-transform: translate(-56px, -24px);
              transform: translate(-56px, -24px);
      color: #fff;
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      font-size: 40px;
      /* 9 */
      font-size: 4rem;
      /* 9 */
      opacity: 0;
      -webkit-transition: .5s opacity ease;
      -o-transition: .5s opacity ease;
      transition: .5s opacity ease; }
      @media (min-width: 1024px) {
        .sidebar-menu__close {
          bottom: inherit;
          top: 0;
          -webkit-transform: translate(-56px, 24px);
              -ms-transform: translate(-56px, 24px);
                  transform: translate(-56px, 24px); } }
    .sidebar-menu__content {
      position: absolute;
      top: 0;
      right: 0;
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      width: 240px;
      /* 9 */
      width: 24rem;
      /* 9 */
      height: 100%;
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      /* 4 */
      /* 5 */
      padding: 24px 0;
      /* 9 */
      padding: 2.4rem 0;
      /* 9 */
      background-color: #5A4F89;
      z-index: 11;
      -webkit-transform: translateX(100%);
          -ms-transform: translateX(100%);
              transform: translateX(100%);
      -webkit-transition: .5s all ease;
      -o-transition: .5s all ease;
      transition: .5s all ease; }
      @media (min-width: 1024px) {
        .sidebar-menu__content {
          /* 3 */
          /* 3 */
          /* 4 */
          /* 6 */
          /* 6 */
          /* 7 */
          width: 320px;
          /* 9 */
          width: 32rem;
          /* 9 */ } }
    .sidebar-menu__logo {
      display: block;
      text-decoration: none;
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      font-size: 56px;
      /* 9 */
      font-size: 5.6rem;
      /* 9 */
      /* 3 */
      /* 3 */
      /* 4 */
      /* 5 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      padding: 0 32px;
      /* 9 */
      padding: 0 3.2rem;
      /* 9 */
      color: #9E88FD; }
    .sidebar-menu__list {
      margin: 0;
      padding: 0;
      text-decoration: none;
      list-style: none;
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      padding: 24px 32px;
      /* 9 */
      padding: 2.4rem 3.2rem;
      /* 9 */ }
      .sidebar-menu__list:not(:last-child) {
        border-bottom: 1px solid rgba(158, 136, 253, 0.2); }
      .sidebar-menu__list a {
        text-decoration: none;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
      .sidebar-menu__list--primary a {
        color: #fff; }
        .sidebar-menu__list--primary a:hover {
          opacity: .5; }
      .sidebar-menu__list--secondary li {
        font-weight: 300; }
      .sidebar-menu__list--secondary a {
        color: #9E88FD; }
        .sidebar-menu__list--secondary a:hover {
          color: #D7CFFC; }
      .sidebar-menu__list li {
        /* 3 */
        /* 3 */
        /* 4 */
        /* 6 */
        /* 6 */
        /* 7 */
        font-size: 18px;
        /* 9 */
        font-size: 1.8rem;
        /* 9 */ }
        .sidebar-menu__list li:not(:last-child) {
          /* 3 */
          /* 3 */
          /* 4 */
          /* 6 */
          /* 6 */
          /* 7 */
          margin-bottom: 16px;
          /* 9 */
          margin-bottom: 1.6rem;
          /* 9 */ }

.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-bottom: 120px;
  /* 9 */
  margin-bottom: 12rem;
  /* 9 */ }
  @media (min-width: 1024px) {
    .main {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 0; } }

.list-carousel {
  width: -webkit-calc(100% - 64px);
  width: calc(100% - 64px);
  margin-left: auto;
  margin-right: auto;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-top: 156px;
  /* 9 */
  margin-top: 15.6rem;
  /* 9 */ }
  @media (min-width: 1024px) {
    .list-carousel {
      max-width: -webkit-calc(100% - 335px);
      max-width: calc(100% - 335px);
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      margin-left: 200px;
      /* 9 */
      margin-left: 20rem;
      /* 9 */
      margin-top: 0; } }
  @media (min-width: 1440px) {
    .list-carousel {
      max-width: -webkit-calc(100% - 454px);
      max-width: calc(100% - 454px);
      /* 3 */
      /* 3 */
      /* 4 */
      /* 6 */
      /* 6 */
      /* 7 */
      margin-left: 320px;
      /* 9 */
      margin-left: 32rem;
      /* 9 */ } }
