.footer {
  display: none;
  background-color: $color-balanced-darker;
  color: $color-balanced-medium;

  @media (min-width: $desktop) {
    display: block;
    padding-bottom: rem(96px);
  }

  &-section {
    @extend .grid;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;

    @media (min-width: $desktop) {
      flex-direction: row;
    }

    >* {
      margin-bottom: rem(40px);
    }

    &:last-child {
      padding-top: rem(40px);
    }

    &:not(:last-child) {
      padding-bottom: rem(40px);
    }
  }

  &-copy {
    width: 100%;
    order: 3;

    @media (min-width: $desktop) {
      width: auto;
      order: 1;
    }

    &__logo {
      font-size: rem(64px);
      color: $color-balanced-medium;
      text-decoration: none;
    }

    p {
      font-size: rem(12px);
      font-weight: 200;
    }
  }

  &-menu {
    order: 2;
    font-size: rem(14px);

    &__title {
      margin: 0;
      margin-bottom: rem(16px);
      font-size: rem(16px);
      font-weight: 400;
      color: $white;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      font-weight: 200;

      &:not(:last-child) {
        margin-bottom: rem(16px);
      }
    }

    a {
      text-decoration: none;
      color: $color-balanced-medium;
      transition: $transition-buttons;

      &:hover {
        color: $color-balanced-normal;
      }
    }
  }

  &-social {
    order: 1 !important;

    @media (min-width: $desktop) {
      order: 3 !important;
    }

    ul {
      display: flex;
    }

    li {
      font-size: rem(24px);
      margin-bottom: 0 !important;

      &:not(:last-child) {
        margin-right: rem(24px);
      }
    }
  }
}