.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include rem(height, 72px);
  border-bottom: 1px solid $color-stable-lighter;
  transition: $transition-cards;

  @media (min-width: $desktop) {
    @include rem(height, 96px);
  }

  &-logo,
  &-buttons {
    @include rem(padding, 16px 24px);

    @media (min-width: $desktop) {
      @include rem(padding, 16px 40px);
    }
  }

  &-logo {
    display: block;
    @include rem(font-size, 48px);
    color: $color-balanced-medium;
    text-decoration: none;

    @media (min-width: $desktop) {
      @include rem(font-size, 64px);
    }
  }

  &-search {
    position: absolute;
    transform: translateY(72px);
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid $color-balanced-white;
    border-left: 0 solid $color-balanced-white;
    border-right: 0 solid $color-balanced-white;
    transition: $transition-cards;

    @media (min-width: $tablet) {
      position: relative;
      transform: translateY(0);
      border-left: 1px solid $color-balanced-white;
      border-right: 1px solid $color-balanced-white;
      border-bottom: 0;
    }

    &__input {
      @extend .reset-input;
      width: 100%;
      height: 100%;
      @include rem(padding-left, 24px);
      @include rem(padding-right, 64px);
      @include rem(font-size, 16px);
      @include rem(line-height, 24px);
      font-weight: 200;
      color: $color-balanced-darker;

      &::placeholder {
        color: $color-balanced-normal;
      }

      @media (min-width: $desktop) {
        @include rem(padding-left, 32px);
        @include rem(padding-right, 72px);
      }
    }

    &__button {
      @extend .reset-button;
      position: absolute;
      top: 50%;
      @include rem(right, 24px);
      transform: translateY(-50%);
      @include rem(font-size, 32px);
      color: $color-stable-light;
      transition: $transition-buttons;

      &:hover {
        color: $color-balanced-medium;
      }

      &:active {
        color: $color-balanced-darker;
      }

      @media (min-width: $tablet) {
        @include rem(right, 32px);
      }
    }
  }

  &-buttons {
    display: flex;
    align-items: center;

    >*:not(:last-child) {
      @include rem(margin-right, 16px);

      @media (min-width: $desktop) {
        @include rem(margin-right, 32px);
      }
    }

    &__menu {
      @include rem(font-size, 32px);
      color: $color-stable-light;
      transition: $transition-buttons;

      &:hover {
        color: $color-balanced-medium;
      }

      &:active {
        color: $color-balanced-darker;
      }

      @media (min-width: $desktop) {
        @include rem(font-size, 40px);
      }
    }
  }
}