.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: 1;

  &-content {
    height: 100%;
    @include rem(width, 96px);
    @include rem(padding, 32px 24px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-left: 1px solid $color-stable-lighter;

    &__menu,
    &__cart,
    &__social {

      .button {
        color: $color-stable-light;

        &:hover {
          color: $color-balanced-medium;
        }

        &:active {
          color: $color-balanced-darker;
        }
      }
    }

    &__menu {
      @include rem(margin-bottom, 32px);

      .button {
        @include rem(font-size, 40px);
      }
    }

    &__cart {
      position: relative;
      flex: 1;

      &-number {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        @include rem(width, 24px);
        @include rem(height, 24px);
        @include rem(font-size, 12px);
        border-radius: 50%;
        box-shadow: 0 0 0 2px $white;
        background-color: $color-balanced-medium;
        color: $white;
      }

      .button {
        @include rem(font-size, 48px);
      }
    }

    &__social {
      display: flex;
      flex-direction: column;

      &-item {
        @include rem(font-size, 24px);

        &:not(:last-child) {
          @include rem(margin-bottom, 40px);
        }
      }
    }
  }

  &-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;

    &.is-open {
      pointer-events: all;

      .sidebar-menu__content {
        transform: translateX(0);
      }

      .sidebar-menu__blur,
      .sidebar-menu__close {
        opacity: 1;
      }
    }

    &__blur {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: $index-menu-bg;
      width: 100%;
      height: 100%;
      background-color: rgba($color-balanced-darker, .8);
      opacity: 0;
      transition: .5s opacity ease;
    }

    &__close {
      position: absolute;
      left: 0;
      top: 0;
      transform: translate(-56px, 24px);
      color: $white;
      @include rem(font-size, 40px);
      opacity: 0;
      transition: .5s opacity ease;
    }

    &__content {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      background-color: $color-balanced-medium;
      @include rem(padding, 24px);
      z-index: $index-menu;
      transform: translateX(100%);
      transition: .5s transform ease;
    }
  }
}