.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  user-select: none;
  cursor: default;

  &-content {
    width: 100%;
    @include rem(height, 72px);
    @include rem(padding, 24px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $color-stable-lighter;
    flex-direction: row-reverse;
    background-color: $white;
    pointer-events: all;

    @media (min-width: $desktop) {
      @include rem(width, 96px);
      @include rem(padding, 32px 24px);
      height: 100%;
      flex-direction: column;
      margin-left: auto;
      border-top: 0;
      border-left: 1px solid $color-stable-lighter;
    }

    &__menu,
    &__social {

      .button {
        color: $color-stable-light;

        &:hover {
          color: $color-balanced-medium;
        }

        &:active {
          color: $color-balanced-darker;
        }
      }
    }

    &__menu {
      @media (min-width: $desktop) {
        @include rem(margin-bottom, 32px);
      }

      .button {
        @include rem(font-size, 40px);
      }
    }

    .cart-quantity {
      flex: 1;
    }

    &__social {
      display: flex;

      @media (min-width: $desktop) {
        flex-direction: column;
      }

      &-item {
        @include rem(font-size, 24px);

        &:not(:last-child) {
          @include rem(margin-right, 24px);

          @media (min-width: $desktop) {
            margin-right: 0;
            @include rem(margin-bottom, 40px);
          }
        }
      }
    }
  }

  &-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;

    &.is-open {
      pointer-events: all;

      .sidebar-menu__content {
        transform: translateX(0);
      }

      .sidebar-menu__blur,
      .sidebar-menu__close {
        opacity: 1;
      }
    }

    &__blur {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: $index-menu-bg;
      width: 100%;
      height: 100%;
      background-color: rgba($color-balanced-black, .8);
      opacity: 0;
      transition: .5s opacity ease;
    }

    &__close {
      position: absolute;
      left: 0;
      bottom: 0;
      transform: translate(-56px, -12px);
      color: $white;
      @include rem(font-size, 40px);
      opacity: 0;
      transition: .5s opacity ease;

      @media (min-width: $desktop) {
        bottom: inherit;
        top: 0;
        transform: translate(-56px, 24px);
      }
    }

    &__content {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      @include rem(width, 240px);
      height: 100%;
      @include rem(padding, 16px 0);
      background-color: $color-balanced-darker;
      z-index: $index-menu;
      transform: translateX(100%);
      transition: .5s all ease;

      @media (min-width: $desktop) {
        @include rem(width, 320px);
        @include rem(padding, 24px 0);
      }
    }

    &__logo {
      display: block;
      text-decoration: none;
      @include rem(font-size, 56px);
      @include rem(padding, 0 24px);
      color: $color-balanced-medium;

      @media (min-width: $desktop) {
        @include rem(padding, 0 32px);
      }
    }

    &__list {
      margin: 0;
      padding: 0;
      text-decoration: none;
      list-style: none;
      @include rem(padding, 16px 24px);

      @media (min-width: $desktop) {
        @include rem(width, 320px);
        @include rem(padding, 24px 32px);
      }

      &:not(:last-child) {
        border-bottom: 1px solid rgba($color-balanced-medium, .2);
      }

      a {
        text-decoration: none;
        transition: .3s all ease;
      }

      &--primary {
        a {
          color: $white;

          &:hover {
            opacity: .5;
          }
        }
      }

      &--secondary {
        li {
          font-weight: 300;
        }

        a {
          color: $color-balanced-medium;

          &:hover {
            color: $color-balanced-light;
          }
        }
      }

      li {
        @include rem(font-size, 16px);

        @media (min-width: $desktop) {
          @include rem(font-size, 18px);
        }

        &:not(:last-child) {
          @include rem(margin-bottom, 8px);

          @media (min-width: $desktop) {
            @include rem(margin-bottom, 16px);
          }
        }
      }
    }

    &__nav {
      flex: 1;
    }

    .user-welcome {
      @include rem(margin, 0 16px);

      @media (min-width: $desktop) {
        @include rem(margin, 0 24px);
      }
    }
  }
}